.strong Versions
    .row    
        div Arch
            ${currentDEArchVersion}
 
        div Fedora
            .font-italics
                ${currentDEF27Version}
            .font-italics
                ${currentDEF28Version}
            .font-italics
                ${currentDEFRWVersion}

        
        div openSuse
            .font-italics
                ${currentDESuseL423Version}
            .font-italics
                ${currentDESuseL15Version}
            .font-italics
                ${currentDESuseTWVersion}
