.card

    .card-header.bg-primary.text-white
        h3.font-weight-bold ${currentDETitle}
    
    .card-text
        span.font-weight-bold Homepage:
        a(href='${currentDEHomepage}' target='_blank') ${currentDETitle}'s Homepage
        br

        span.font-weight-bold Github URL: 
        a(href='${currentDEGithub}' target='_blank') ${currentDETitle} on Github
        br
        br 


        span.font-weight-bold Latest Version: 
        | ${currentDELatestVersion}
        br 

        span.font-weight-bold Desktop Catagory: 
        | ${currentDECatagory}
        br

        span.font-weight-bold Distros That Feature: 
        | ${currentDEdistroFeature}
        br
        br 

        span.font-weight-bold Desktop Requirements: 
        ul
            li 
                span.font-italics Required Processor: 
                | ${currentDEReqProc}
            li 
                span.font-italics Required Memory: 
                | ${currentDEReqMem}
            li 
                span.font-italics Required Hard Drive Space: 
                | ${currentDEReqHDD}
