  h3.font-weight-bold How to Install:

.card
    .card__header.font-weight-bold Arch Linux:

    .card-text
        code.my-3.p-2 ${currentDEarchInstall}


.card
    .card__header.font-weight-bold Fedora:

    .card-text
        code.my-3.p-2 ${currentDEfedoraInstall}



.card
    .card__header.font-weight-bold  OpenSUSE:

    .card-text


        code.my-3.p-2 ${currentDEopensuseInstall}
        br/


        small POSSIBLE Extra Repos (There may or may not be content below)
        br /

        div.font-italic Use with Caution ... some of these may be so new they break parts of your DE when updating, but these can have newer versions of DEs then in default repos

        ul

            li.font-weight-bold Leap 15.2
            code.my-3.p-2 ${currentDEopensuseLeap152Install}

            li.font-weight-bold Tumbleweed
            code.my-3.p-2 ${currentDEopensuseTWInstall}


        .font-weight-bold Ubuntu

        ul
            li Installing on Ubuntu:
                code.my-3.p-2 ${currentDEubuntuInstall}

            li Installing on Linux Mint:
                code.my-3.p-2 ${currentDEmintInstall}
