h3.font-weight-bold Versions
#linux-versions
  small Last Updated: ${currentDEVerUpdated} 
  br
  .row
    .col
      span.distroBaseTitle Arch:
      span.version ${currentDEArchVersion}
      br
    .col
      span.distroBaseTitle Fedora
      br
      span.versionTitle 37: 
      span.version ${currentDEF37Version}
      br
      span.versionTitle 38: 
      span.version ${currentDEF38Version}
      br
    .col
      span.distroBaseTitle openSUSE
      br
      span.versionTitle Leap 15.3: 
      span.version ${currentDESuseL153Version}
      br
      span.versionTitle Tumbleweed: 
      span.version ${currentDESuseTWVersion}
  .row
    .col
      .distroBaseTitle Solus
      span.version ${currentDESolusVersion} 
    .col
      .distroBaseTitle Ubuntu
      span.versionTitle 20.04 Focal LTS: 
      span.version ${currentDEUbuntu2004LTSVer}
      br
      span.versionTitle 22.04 Jammy LTS: 
      span.version ${currentDEUbuntu2204LTSVer}
      br
      span.versionTitle 23.04 Lunar: 
      span.version ${currentDEUbuntu2304Ver}
    .col
      .distroBaseTitle Linux Mint
      span.versionTitle 20: 
      span.version ${currentDEMint20Version}
      br
      span.versionTitle 21:
      span.version ${currentDEMint20Version}