h3.font-weight-bold Versions
.font-weight-bold Latest Version: ${currentDELatestVersion}
br/
small Last updated: ${currentDEVerUpdated}
br/

.row.my-2 
    .col
        span.font-weight-bold Arch: 
        span.text-right ${currentDEArchVersion}
        br/

    .col
        span.font-weight-bold Fedora
        br/
        span.font-italic Fedora 28: 
        span.text-right ${currentDEF28Version}
        br/
        span.font-italic Fedora 29: 
        span.text-right ${currentDEF29Version}
        br/
        span.font-italic Fedora Rawhide: 
        span.text-right  ${currentDEFRWVersion}
    

    .col
        span.font-weight-bold openSUSE
        br/
        span.font-italic OpenSUSE 42.3: 
        span.text-right  ${currentDESuseL423Version}
        br/
        span.font-italic OpenSUSE 15: 
        span.text-right  ${currentDESuseL15Version}
        br/
        span.font-italic OpenSUSE Tumbleweed:  
        span.text-right  ${currentDESuseTWVersion}
        
.row.my-4
    .col
        div.font-weight-bold Solus
        span.text-right 
    .col
        div.font-weight-bold Ubuntu 
        
        span.font-italic Ubuntu 16.04 LTS: 
        span.text-right  ${currentDE1604LTSVer}
        br/
        span.font-italic Ubuntu 18.04 LTS: 
        span.text-right ${currentDE1804LTSVer}
        br/
        span.font-italic Ubuntu 18.10:
        span.text-right 

    .col
        div.font-weight-bold Linux Mint 
        
        span.font-italic Mint 17.3: 
        span.text-right ${currentDEMint173Version}
        br/
        span.font-italic Mint 18: 
        span.text-right ${currentDEMint18Version}
        br/
        span.font-italic Mint 19: 
        span.text-right ${currentDEMint19Version}

small 
    div Disclaimer: I decided to list the versions currently in different distro/versions of that distro. This means the version of different Desktops that may have SHIPPED WITH the version of the distro listed, may not be the same as what I list. 

    div If there are point releases, for example in Ubuntu with say 18.04.1 for example ... I THINK the version listed would be what is available in the latest POINT release (in the say of 18.04 LTS in my example there ... 18.04.1)