.card
    .card-title.m-0.p-2.bg-primary.text-white
        .row.pl-3
            img(src="${distroGraphics}${currentDistroIcon}" alt="${currentDistroTitle} icon" style="width: 48px;height: 48px;" ) 
            .font-weight-bold.h2.pl-3 ${currentDistroTitle}
    
    .card-text.p-2
        .row
            .col.d-md-inline
                span.font-weight-bold Homepage: 
                a(href="${currentDistroHomepage}" target="_blank") ${currentDistroTitle}'s Homepage
                br/

                span.font-weight-bold Download: 
                a(href="${currentDistroDownload}" target="_blank") ${currentDistroTitle}'s Download Page
                br/

                span.font-weight-bold Forums:
                a(href="${currentDistroForum}" target="_blank") ${currentDistroTitle}'s Forum
                br/

                div
                    span.font-weight-bold Distrowatch Page: 
                    a(href="${DWPage}${currentDistroName}" blank="_blank") ${currentDistroTitle} Distrowatch Link 
                br/
                    
                div 
                    span.font-weight-bold Target Audience: 
                    | ${currentDistroTargetAudience}
            
                div
                    span.font-weight-bold Featured Desktops: 
                    | ${currentDistroFeaturesDesktops}
            
                div
                    span.font-weight-bold Similar Distros: 
                    | ${currentDistroSimilarDistros}
                
                div
                    span.font-weight-bold Software Type: 
                    | ${currentDistroSoftwareType}
                

            .col.d-none.d-md-inline
                img.img-fluid.p-2(src="https://picsum.photos/400/400/?random")
        
        span.font-weight-bold.h4 Youtube Playlists
            .col-6
                span.font-weight-bold Youtube Reviews and Comment Playlist: 
            .col-6
                span.font-weight-bold Youtube Tweaks and Tips Playlist: 
