.card
    .card-title.m-0.p-2.bg-primary.text-white
        .row.pl-3
            img(src="${currentDistroIcon}" alt="${currentDistroTitle} icon") 
            .font-weight-bold.h2 ${currentDistroTitle}
    
    .card-text

        span.font-weight-bold Homepage: 
        a(href="${currentDistroHomepage}" target="_blank") ${currentDistroTitle}'s Homepage
        br/

        span.font-weight-bold Download: 
        a(href="${currentDistroHomepage}" target="_blank") ${currentDistroTitle}'s Download Page
        br/

        span.font-weight-bold Forums:
        a(href="${currentDistroHomepage}" target="_blank") ${currentDistroTitle}'s Forum
        br/
        br/


        div.font-weight-bold Distrowatch Page: 
        a(href="${currentDistroDistroWatchURL}" blank="_blank") ${currentDistroTitle} Distrowatch Link 
        br/
            
        div.font-weight-bold Target Audience: 
        div ${currentDistroTargetAudience}
    
        div.font-weight-bold Featured Desktops: 
        div ${currentDistroFeaturesDesktops}
    
        div.font-weight-bold Similar Distros: 
        div ${currentDistroSimilarDistros}
        
        div.font-weight-bold Software Type: 
        ${currentDistroSoftwareType}
        
        br/
        br/



        span.font-weight-bold.h4 Youtube Playlists
        br/
        .row 
            .col-6
                span.font-weight-bold Youtube Reviews and Comment Playlist: 
            .col-6
                span.font-weight-bold Youtube Tweaks and Tips Playlist: 
