h4.font-weight-bold How to Install: 

.pl-3
    .font-weight-bold How to install ${currentTICThemeName} on Arch 
    code ${archInstall} ${currentTICArchInstall}

    .font-weight-bold How to install ${currentTICThemeName} on Fedora 
    code ${dnfInstall} ${currentTICFedoraInstall}

    .font-weight-bold How to install ${currentTICThemeName} on OpenSUSE 
    code ${zypperInstall} ${currentTICOpenSuseInstall}

    .font-weight-bold How to install ${currentTICThemeName} on Ubuntu 
    code ${ubuntuInstall} ${currentTICUbuntuInstall}
