.font-weight-bold Gnomelook URL: 
a(href="${currentGnomelookURL}" target="_blank")
| ${currentTICThemeName} on Gnome Look 
br/

.font-weight-bold
a(href="${currentTICGithubURL}" target="_blank")
| ${currentTICThemeName} on Github
br /

.font-weight-bold
a(href="${currentTICDeviantArtURL}" target="_blank")
| ${currentTICThemeName} on DeviantArt
br /