.card
    .card-header 
        .row 
            .col-2 ${browserIcon}
            .col-auto ${browserAddonTitle}
    
    .card-body
        div description here, perhaps

        .row
            .col
                a(href="${chromeURL}" target="_blank") ${chromeIcon}
            .col
                a(href="${chromeURL}" target="_blank") ${firefoxIcon}